.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-active /* .fade-leave-active in <2.1.8 */ {
	opacity: 0
}
#app{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.dbox {
	display: block !important;
}
.dline {
	display: inline-block !important;
}
body {
	overflow: auto !important;
}
button {
	outline:0 none !important;
}


/*Input - range*/
input[type=range]::-webkit-slider-thumb {
	background-color: red;
}
input[type=range]::-moz-range-thumb {
	background-color: red;
}
input[type=range]::-ms-thumb {
	background-color: red;
}
/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
	background-color: #dedede;
}
input[type=range] + .thumb.active .value {
	color: red;
}